<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <table class="table table-bordered table-dark">
        <tr>
            <td>Error Message</td>
            <td th:text="${message}"></td>
        </tr>
        <tr>
            <td>Status Code</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"></td>
        </tr>
        <tr>
            <td>Stacktrace</td>
            <td class="text-left" th:text="${trace}"></td>
        </tr>
    </table>
</div>
</body>
</html>