<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <h1>Список сотрудников</h1>
    <table class="table table-bordered table-dark">
        <tr th:each="employee : ${employees}">
            <!--/*@thymesVar id="employee" type="com.company.skyproeducationspring.models.Employee"*/-->
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.getDepartment()}"></td>
            <td th:text="${employee.getSalary()}"></td>
        </tr>
    </table>
</div>
</body>
</html>