<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <h1>Список сотрудников</h1>
    <div th:each="entry : ${employees}">
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th th:text="${entry.key}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${entry.value}">
                <td th:text="${employee.getFirstName()}"></td>
                <td th:text="${employee.getLastName()}"></td>
                <td th:text="${employee.getDepartment()}"></td>
                <td th:text="${employee.getSalary()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
